@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #141414;
  color: #eee;
  overscroll-behavior-x: none;
}

::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }

.card { @apply bg-panel border border-white/10 rounded-2xl; }
